{% extends 'base.html' %}


{% block content %}

<div class="container-fluid" style="margin: 0px;">
  <div id="body-cards" class="bg-purple row row-cols-1 row-cols-md-2 g-5 my-auto">
    <div class="col">
      <div class="card bg-dark text-white">
        <div class="card-body">
          <h3 class="card-title">Astronomical Conditions</h5>
          <p class="card-text">
            Stargazing is <b>not recommended</b> around your area
            <ul>
              <li>Cloud cover is very high at 55%</li>
              <li>Astronomical twilight doesn't happen for 2 hours</li>
            </ul>
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card bg-dark text-white">
        <div class="card-body">
          <h3 class="card-title">Astronomy News</h5>
          <p class="card-text">
            This is a placeholder card that will later be filled with astronomy news.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card bg-dark text-white">
        <div class="card-body">
          <h3 class="card-title">Upcoming Astronomical Events</h5>
          <p class="card-text">This is a placeholder card that will later be filled with upcoming astronomical events.</p>
          </div>
        </div>
      </div>
    <div class="col">
      <div class="card bg-dark text-white">
        <div class="card-body">
          <h3 class="card-title">Light Pollution Info</h5>
          <p class="card-text">
            This is a placeholder card that will later be filled with light pollution info.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">

    <footer class="footer container-fluid bg-dark" style="width: 100%;">
      <div class="container">
        ::before
        <p class="text-muted">Made with ♥ by Arvindh Manian</p>
        ::after
      </div>
    </footer>
  </div>

  
</div>

{% endblock %}